page-add-recipe {
    .header {
        background-color:  color($colors, primary);
        color: color($colors, light);
        font-size: 18px;
     }
     #icon-toolbar{
        color: color($colors, light);
     }
     .textarea-content{
         height: 300px;
     }
     textarea.text-input{
        height: 300px !important;
     }
    .checkbox-recipe{
        border-color: #C49967 !important;
        background-color: #C49967 !important;
    }
    .footer-button{
        margin-bottom: 10px;
        float: right;
        margin-right: 10px
    }
}
