$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #C49967,
  secondary:  #906934,
  danger:     #E4CCB8,
  light:      #FFFFFF,
  dark:       #222,
  button:     #4B4B4B
);

$toolbar-title-text-color: color($colors, light);

$menu-md-background: color($colors, primary);




@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
