.home {
    background: color($colors, primary);
    color: color($colors, light);
    margin-top: 30px
}

.tab-md .tab-button-icon{
    color: color($colors, primary);
}
.toolbar-background-md {
    background: color($colors, primary) !important;
}
.scroll-content {
    overflow: hidden;
  }
#icon-toolbar {
    font-size: 1.8em;
    margin-right: 10px;
    margin-top: 5px
}
.menu-toolbar-div{
    display: flex;
    margin-right: 15px;
    color: color($colors, light);
    font-size: 18px
    
}
.menu-content{
    background: color($colors, primary) !important;
}
.icon-content{
    color: color($colors, secondary) !important;
    margin-left: 10px;
    margin-right: 10px;
}
.activePageHighlight {
    background-color:color($colors, danger);
}
.button-content{
    color: color($colors, button);
    font-size: 18px;
}