page-shopping-list {
    .header {
        background-color:  color($colors, primary);
        color: color($colors, light);
        font-size: 18px;
     }
 
     #icon-toolbar{
        color: color($colors, light);
     }
    .item {
         padding-left: 0px !important;
     }
    .item-options {
         padding-right: 0 !important;
     }
    .footer-md::before{
         bottom: 0 !important;
         top: 0px !important;
         background-image: none !important;
     }
     .footer-button{
         margin-bottom: 10px;
         float: right;
         margin-right: 10px
     }
     #trash{
         padding: 0 !important;
     }
}
